
.displayMedia{
    text-align: center;
}
@media screen and (min-width: 765px) {
    

 
    .grid-container {
    
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 70px;
    margin:auto;
    width: 100%;

    

    }
    button{
        width: 30vw;
        height: 15vh;
        font-size: 1rem;
    }
}

   

